
<h1 class="container bg-dark text-white text-center my-4 py-4"> [ngClass]</h1>
<div class="container">
  <button class="btn btn-dark mb-3" (click)="activo='primero'" >Primero</button>
  <button class="btn btn-danger mb-3" (click)="activo='segundo'">Segundo</button>
 
  <p class="text-info d-none" [ngClass]="{'d-block' : activo == 'primero'}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque omnis, quo cupiditate architecto maxime recusandae odit blanditiis officia minima quisquam nobis suscipit nulla ut modi ex nesciunt esse sed reiciendis.</p>
  
  <p class="text-danger d-none" [ngClass]="{'d-block' : activo== 'segundo'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis dolor saepe! Similique eveniet quo vel ea beatae dolore delectus perferendis est veritatis cum! Minus illum magnam praesentium id ipsa.</p>

  
</div>